html{
  background-color: #a4b1fb;
}

#content {
  position: absolute;
  left: 50px;
  margin: 0 auto;
  min-width: 1408px;
}

#container{
  position: absolute;
  top: 120px;
  left: 435px;
}

#btn {
  padding: 30px 30px 30px 30px;
  border: solid black 3px;
  box-shadow: 2px 2px gray;
  background: linear-gradient(#9f0022, #7e0017);
  background-color: #7e0017;
  margin: 0 auto;
  font-size: 25px;
  color: white;
  font-family: 'Titan One', cursive;
  position: relative;
  top: 20px;
  left: 950px;
  border-radius: 100%;
}

#btn:hover{
  box-shadow: 4px 4px gray;
  cursor: pointer;
}

#back {
  height: 1000px;
  width: 1000px;
  background-color: #3c566b;
  border: solid black 2px;
  border-radius: 30%;
  position: absolute;
  top: 0px;
  left: 300px;
}

h1 {
  position: absolute;
  top: 20px;
  left: 550px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px;
  color: #b8c1f2;
}
