span:hover {
  background-color: gray;
}

#content {
  position: absolute;
  margin: 0 auto;
  min-width: 1408px;
}

#container{
  position: absolute;
  top: 60px;
}

#btn {
  padding: 10px 15px 10px 15px;
  border: solid black 1px;
  background-color: red;
  font-size: 16px;
  color: white;
  position: relative;
  top: 10px;
  left: 30%;
}

#btn:hover{
  box-shadow: 1px 1px gray;
  cursor: pointer;
}
